<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数据导入</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/herder.css">
  <link rel="stylesheet" href="../static/layui-v2.5.6/layui/css/layui.css">
  <!-- <script src="../static/fonts/iconfont.js"></script> -->
  <link rel="stylesheet" href="../static/font/iconfont.css">
</head>

<body>
  <!-- 导航头 -->
  <script src="../static/js/herder.js"></script>
  <!-- 中间区域 -->
  <div class="conter">
    <h1>数据导入</h1>
  </div>
  <!-- 文件上传区域 -->

  <div class="file">
    <img src="../static/img/shangchuan.png" alt="">

    <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
  </div>

  <!-- shangchuanzhong -->

  <div class="show" style="display: none;">
    <img src="../static/img/jieguo.png" alt="">
    <!-- <button type="button" class="layui-btn" id="btn" style="display: none;">查看结果</button> -->
  </div>

  <script src="../static/js/jquery-3.0.0.min.js"></script>
  <script src="../static/js/basepath.js"></script>
  <script src="../static/layui-v2.5.6/layui/layui.js"></script>
  <script src="../static/layui-v2.5.6/layui/layui.all.js"></script>
  <script>
    layui.use('upload', function () {
      var $ = layui.jquery,
        upload = layui.upload;
      upload.render({
        elem: '#test3',
        url: basepath + '/PublicOpinion/FileUpload/uploadFile1' //改成您自己的上传接口
          ,
        accept: 'file' //普通文件
          ,
        before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
          layer.load(); //上传loading
          $(".file").css("display", "none")
          $(".show").css("display", "block")
        },
        done: function (res) {
          layer.closeAll('loading'); //关闭loading
          layer.msg('上传成功');
          $("#btn").css("display", "block")
          console.log(res);
          window.location.href = "./public-opinion.html"
        }
      });

    });
  </script>
</body>

</html>